POSTGRES_HOST=shared-postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-me-postgres-admin

MINIO_ENDPOINT=http://s3-storage:9000
MINIO_ROOT_USER=minio-admin
MINIO_ROOT_PASSWORD=change-me-minio
MINIO_BUCKET=pg-backups
BACKUP_RETENTION_DAYS=30
