POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-me-postgres-admin
POSTGRES_DB=postgres

FRESHRSS_DB_USER=freshrss
FRESHRSS_DB_PASSWORD=change-me-freshrss
GO_BLOG_DB_USER=goblog
GO_BLOG_DB_PASSWORD=change-me-goblog
