FRESHRSS_HOST=freshrss.localhost
FRESHRSS_ALT_HOST=freshrss.sigmalocal
FEEDS_HOST=feeds.localhost
FEEDS_ALT_HOST=feeds.sigmalocal
BLOG_HOST=blog.localhost
BLOG_ALT_HOST=blog.sigmalocal
PORTAINER_HOST=portainer.localhost
PORTAINER_ALT_HOST=portainer.sigmalocal
PGADMIN_HOST=pgadmin.localhost
PGADMIN_ALT_HOST=pgadmin.sigmalocal
CADDY_HTTP_PORT=80
